{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/default.jpg')}}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ emp.fname + ' ' + emp.lname }}</a>

          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('assign_pj', essn=emp.ssn) }}">Assign new project</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('delete_pj', essn=emp.ssn) }}">Remove project</a>
          </div>
 
      </div>

    </div>
  </article>

{% endblock content %}