
{% extends "layout.html" %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
  <form method=post>
   {{ render_field(form1.select) }}
       {{ render_field(form1.search) }}
    <p><input type=submit value=Search>
          </form>
<div class="w3-display-container w3-container">
    <img src="../static/profile_pics/alienware-lol_05.jpg" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <p><a href="#" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
</div>
   <div class="w3-row">

        {% for product in products %}
        <div class="w3-third">
         <img src="{{ product['image'] }}" width="300" height="300">
        <p> {{ product['productName'] }}<br><b> {{ product['price'] }}</b></p>
         <a class="btn btn-success" href="{{ url_for('add_cart', productID=product['productID']) }}">Add to cart</a>
      </div>
      {% endfor %}
        </div>
      
        
    </div>
</div>
{% endblock content %}


