{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
             <div class="form-group">
                {{ form.nickname.label(class="form-control-label") }}
                {% if form.nickname.errors %}
                    {{ form.nickname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nickname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nickname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.fullname.label(class="form-control-label") }}
                {% if form.fullname.errors %}
                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fullname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fullname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.zipcode.label(class="form-control-label") }}
                {% if form.zipcode.errors %}
                    {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.zipcode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zipcode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.state.label(class="form-control-label") }}
                {% if form.state.errors %}
                    {{ form.state(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.state(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.phone.label(class="form-control-label") }}
                {% if form.phone.errors %}
                    {{ form.phone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}